<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>  
        $(function(){
          $(".toggle").on("click",function(){
            if($(".item").hasClass("active")){
              $(".item").removeClass("active");
            }
            else{
              $(".item").addClass("active");
            }

          })
        })

  </script>
  </head>
  <body>
    <header>
      <div class="topnav" id="myTopnav">
        <a
          ><div class="logo__container">
            <img src="../imagenes/logo.png" alt="logo" /></div
        ></a>
        <a href="../index.html" class="active">Home</a>
        <a href="/views/proximosEventos.html">Proximos Eventos</a>
        <a href="/views/historialCompras.html">Carrito</a>
        <a href="/views/promociones.html">Promociones</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
    <main>
    <h1 class="black">AUN NO HAY PROMOCIONES CARGADAS</h1>
    </main>
    <div class="container-footer">
      <div class="footer">
           <div class="copyright">
               © 2021 Todos los Derechos Reservados | <a href="">Alan.-</a>
           </div>

           <div class="information">
               <a href="www.facebook.com">Facebook</a> | <a href="https://twitter.com/iniciarsesion?lang=en">Twitter</a> | <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4">Youtube</a>
           </div>
       </div>

   </div>

</footer>
  </body>
</html>
