<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <!-- Bootstrap CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
        />
        <meta
          name="description"
          content="A slideshow component for cycling through elements—images or slides of text—like a carousel."
        />
    
    <title>Document</title>
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>  
        $(function(){
          $(".toggle").on("click",function(){
            if($(".item").hasClass("active")){
              $(".item").removeClass("active");
            }
            else{
              $(".item").addClass("active");
            }

          })
        })

  </script>
  
  </head>
  <body>
    <header>
      <header>
        <nav>
          <ul class="menu">
            <li class="logo"><a href="">LIGHTS OUT</a></li>
            <li class="item"><a href="../index.html">Home</a></li>
            <li class="item"><a href="../views/proximosEventos.html">Proximos eventos</a></li>
            <li class="item"><a href="../views/contacto.html">Contacto</a></li>
            <li class="item button"><a href="../views/login.html">Login</a></li>
            <li class="item button secondary"><a href="../views/registro.html">Registrarse</a></li>
            <li class="toggle"><span class="bars"></span></li>
          </ul>
        </nav>
        
      </header>

      <div class="container mt-5 mb-5" >
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5"> <span class="circle"><i class="fa fa-check"></i></span>
                    <h5 class="mt-3">Se uno de los 40.000 <br> Nighters de todo Argentina</h5> <small class="mt-2 text-muted">Haciendo de tus noches soñadas una realidad. Luego de completar el formulario estaras un paso mas cerca</small>
                    <div class="form-input"> <i class="fa fa-envelope"></i> <input type="text" class="form-control" placeholder="Email address"> </div>
                    <div class="form-input"> <i class="fa fa-user"></i> <input type="text" class="form-control" placeholder="User name"> </div>
                    <div class="form-input"> <i class="fa fa-lock"></i> <input type="text" class="form-control" placeholder="password"> </div>
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked> <label class="form-check-label" for="flexCheckChecked"> I agree all the statements </label> </div> <button class="btn btn-primary mt-4 signup">Registrarme YA</button>
                    <br>
                    <div class="text-center mt-4"> <span>Ya estas registrado?</span> <a href="#" class="text-decoration-none">Login</a> </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footerConteiner">
        <a href="views/contacto.html">Contacto</a>
        <a href="https://twitter.com/iniciarsesion?lang=en">Twitter</a>
        <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4">YouTube</a>
      </footer>


    <!--Javascript-->
    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"
  ></script>

</body>
</html>